[
  {todolist, []},
  {pgo, [{pools, [{default, [ {pool_size, 10}
                            , {host, "127.0.0.1"}
                            , {port, 5432}
                            , {database, "todolist"}
                            , {user, "admin"}
                            , {password, "password"}
                            ]
                   }
                  ]
         }
        ]
  }
].
